DB_PASSWORD=
DB_NAME=
DB_USER_PASSWORD=

GITHUB_ACTOR=your-github-username
GITHUB_TOKEN=your-github-token

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

OAUTH2_REDIRECT_URI=
